<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="site-nav-simple">
        <ul class="site-nav-links">
          <li class="site-nav-home">
            <a href="/">Ruiqi Chen</a>
          </li>
          {% for link in site.data.navigation.main %}
          <li>
            <a href="{{ site.baseurl }}{{ link.url }}"{% if page.url contains link.url %} class="active"{% endif %}>{{ link.title }}</a>
          </li>
          {% endfor %}
          {% if site.author.github %}
          <li class="site-nav-icon">
            <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener" title="GitHub"><i class="fab fa-github"></i></a>
          </li>
          {% endif %}
          {% if site.author.googlescholar %}
          <li class="site-nav-icon">
            <a href="{{ site.author.googlescholar }}" target="_blank" rel="noopener" title="Google Scholar"><i class="fas fa-graduation-cap"></i></a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
